<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert person</title>
</head>
<body>
    <!-- Insert Person -->
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <div id="botones">
            <button id='submit' type='submit' class="btn btn-primary">Insert</button>
            <button id='reset' type='reset' class="btn btn-secondary">Reset</button>    
        </div>                    
    </form> 
</body>
</html>