<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit person</title>
</head>
<body>
    <h1>oldest child: {{person.oldest_child}}</h1>
    <h1>children age summation: {{person.total_age_children}}</h1>
    <h1>male children amount: {{person.children_male_amount}}</h1>
    <h1>female children amount: {{person.children_female_amount}}</h1>
    <!-- Edit Person -->
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <div id="botones">
            <button id='submit' type='submit' class="btn btn-primary">Edit</button>
            <button id='reset' type='reset' class="btn btn-secondary">Reset</button>    
        </div>                    
    </form> 
</body>
</html>